:root {
  --white: #fff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --background: #bdbdbd;
  --primary-color: #673ab7;
  --primary-dark: #512da8;
  --primary-light: #d1c4e9;
  --accent-color: #ff9800;
  --content-padding: 1.9rem;
}

html {
  background: var(--background);
  color: var(--primary-text);
  font-size: 62.5%;
}

body {
  font: 16px/1.5 system-ui, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
